<footer class="footer">
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.author }}. All rights reserved. Syntax highlight theme by <a href="https://draculatheme.com/pygments/">Dracula Theme</a>.</p>
    <p>Running into a problem with the site? <a href="mailto:{{ site.webmaster_email }}">Email me &rsaquo;</a></p>
    <div class="spacer"></div>
    <p>
        <dark-mode-toggle
            id="dark-mode-toggle-1"
            appearance="toggle"
            light="Use dark theme"
            dark="Use light theme"
            remember="Remember this preference"
        ></dark-mode-toggle>
        <small>By default, this site will respect your system's theme. Use the toggle above to change the theme.</small>
    </p>
</footer>