<!-- This Source Code Form is subject to the terms of the Mozilla Public
   - License, v. 2.0. If a copy of the MPL was not distributed with this
   - file, You can obtain one at https://mozilla.org/MPL/2.0/. -->

<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/camino.css"/>
    <link rel="stylesheet" media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)" href="{{ site.baseurl }}/assets/camino-light.css"/>
    <link rel="stylesheet" media="(prefers-color-scheme: dark)" href="{{ site.baseurl }}/assets/camino-dark.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/camino-ghpages.css"/>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/dracula.css"/>
    <link href="https://fonts.googleapis.com/css?family=Crimson+Text"
      rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.baseurl }}/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/images/favicon-16x16.png">
    <link rel="manifest" href="{{ site.baseurl }}/images/site.webmanifest">
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico">
    <meta name="msapplication-TileColor" content="#603cba">
    <meta name="msapplication-config" content="{{ site.baseurl }}/images/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
</head>
